---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ServicesOverview from '../components/ServicesOverview.astro';
import IntroSection from '../components/IntroSection.astro';
import BrandLogos from '../components/BrandLogos.astro';
import ServicesDetail from '../components/ServicesDetail.astro';
import CorporateValues from '../components/CorporateValues.astro';
import WhyChooseUs from '../components/WhyChooseUs.astro';
import EngagementBlock from '../components/EngagementBlock.astro';
const pageTitle = "Accueil";
---

<Layout title={pageTitle}>
	<Hero />
    <div class="bg-[var(--color-bg-light)]">
        <ServicesOverview />
        <IntroSection />
    </div>
    <BrandLogos />
    <ServicesDetail />
    <WhyChooseUs />
    <CorporateValues />
    <EngagementBlock />
    
</Layout>